body {
  margin: 0;
  padding: 0;
}
.nav-container {
  position: relative;
  height: 9vh;
  background-color: #20b8ea;
}
.nav {
  color: white;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 9vh;
}
.input-style {
  box-sizing: border-box;
  border: 2px solid #ccc;
  width: 30%;
  margin-left: 20%;
  height: 5vh;
  border-radius: 20px;
  font-size: 20px;
  background-color: white;
  background-image: url("https://www.w3schools.com/css/searchicon.png");
  background-position: 20px 8px;
  background-repeat: no-repeat;
  padding: 7px 16px 8px 55px;
}